 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}